.work-area {
    width: 370px;
    margin-bottom: 16px;
}

.popup-button {
    margin-left: 8px;
    float: right;
}

.status-loading {
    color: orange;
}

.status-ok {
    color: green;
}

.status-fail {
    color: red;
}