.work-area {
    width: 350px;
}

.subscribe-button {
    margin-left: 8px;
    float: right;
}

.status-loading {
    color: orange;
}

.status-ok {
    color: green;
}

.status-fail {
    color: red;
}