.flex-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    display: inline-block;
    width: 240px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    border-radius: 4px;
    padding: 4px;
}

.item-header {
    float: right;
    padding-bottom: 2px;
    width: 100%;
}

.item-loading {
    float: left;
}

.item-loading>img {
    width: 18px;
    height: 18px;
}

.item-buttons {
    float: right;
}

.item-button {
    padding: 0px 4px;
    margin: 0px;
}

.item-video {
    float: left;
    clear: left;
}

.item-video-img {
    max-width: 100%;
    max-height: 100%;
}

.item-title {
    float: left;
    clear: left;
    font-family: Arial, Helvetica, sans-serif
}

.video-status-new {}

.video-status-checked {
    background-color: #99ffcc;
    border-color: #00ff80;
}

.video-status-viewed {
    background-color: #cccccc;
    filter: grayscale(100%);
}

.video-status-skipped {
    background-color: #bbbbbb;
    filter: grayscale(100%);
}

.channels-table {
    border-collapse: collapse;
    border: 1px solid;
}

.channels-table-header {
    padding-left: 4px;
    padding-right: 4px;
}

.channels-table-count {
    text-align: center;
}

.update-button {
    margin-top: 8px;
}

.has-new {
    background-color: #ADD8E6;
}